#something {
    background-color: chartreuse;
}

#smallpic {
    width:100px;
    height:100px;
}

#thunder {
    width:100px;
    height:100px;
}



#colors {
    background-color: aquamarine;

}


#more {
    background-color: bisque;

}



#workplease {
    background-color: blanchedalmond;

}


